.avatar {
  border-radius: 1000px;
  background-color: red;
  height: 80px;
  width: 80px;
}

.drawer {
  min-width: 10vw;
  max-width: 15vw;
  height: 100%;
  z-index: 1000000;
  width: 50vw;
  background: linear-gradient(0deg, #ff9900 10%, #1976d2 100%);
  display: flex;
  color: rgba(255, 255, 255, 0.525);
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 5vw;

}
