
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 2vw;
  color: white;
  margin: 0 auto;
}

.headerAvatar {
  flex-grow: 0;
}

.headerContent {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.01;
  margin-top: -20px;
}

.flname {
  font-size: 3vw;
}

.username {
  font-size: 1.5vw;
  margin-top: -40px;
  margin-bottom: 30px;
}

h3 {
  margin-top: -100px;
  padding: 0px;
  color: white;
}
