@font-face {
  font-family: SeoulHangang;
  src: url(../fonts/SeoulHangangCBL.ttf);
}

.infoWindow {
  display: flex;
  flex-direction: row;
  width: auto;
  z-index: 200;
  padding: 1rem;
  border-radius: 5px;
  color: white;
  background-color: rgba(237, 174, 73, 1);
  font-family: 'SeoulHangang', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gm-ui-hover-effect {
  display: none !important;
  overflow: hidden;
  transition: 0.1s;
}

.gm-style-iw .gm-style-iw-c .storemapper-iw-container {
  background-color: rgba(237, 174, 73, 1);
}

.infoWindow-right {
  display: flex;
  flex-direction: column;
}

.infoWindow-left {
  display: flex;
  flex-direction: column;
}

.infoWindow-left img {
  width: 8vw;
  margin-right: 1rem;
  border-radius: 5px;
}

body {
  margin: 0;
  font-family: 'SeoulHangang', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.search {
  padding: 150px 50px;
  background-image: url('../public/assets/Images/la.png');
  background-size: cover;
  background-position: center;
}

.MuiTextField-root {
  background: white;
  border-radius: 10px;
  text-underline-position: auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: #ffffff00;
  background: #d60000;
}

.apaapa {
  background-color: aqua;
}
.menubutton * {
  color: white;
}

.menubuttontext * {
  color: white;
}

.flyoutimage {
  width: 10vw;
  height: 10vw;
  border-radius: 5vw;
  overflow: hidden;
  background-position: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.flyoutimage img {
  object-fit: contain
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 50px;
  //background-image: url('../public/assets/Images/tokyo.png');
  height: 100px;
  margin: 10px 0;
  border-radius: 20px;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card-review {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px;
}

.card-review-single {
  display: flex;
  width: 200px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  margin: 20px;
}

.card-review-single img {
  border-radius: 5px;
}

.card-review-single-right {
  margin-left: 10px;
}

.card-review-comment {
  margin-top: -10px;
  font-size: small;
}

.card-review-comment-title {
  font-weight: bold;
}

.card-homepage {
  flex-direction: row;
  flex-grow: 1;
  min-width: 200px;
  width: calc(50% - 2em);
  margin: 1em;
}

.card-event {
  flex-direction: row;
  flex-grow: 1;
  min-width: 200px;
  width: calc(33.3% - 2em);
  margin: 1em;
}

#map {
  background-color: blue;
  width: 500;
  height: 500;
}
