@font-face {
  font-family: SeoulHangang;
  src: url(../fonts/SeoulHangangCBL.ttf);
}

.infoWindow {
  display: flex;
  flex-direction: row;
  width: 20vw;
  z-index: 200;
  color: white;
  border-radius: 5px;
  background-color: rgba(237, 174, 73, 1);
  font-family: 'SeoulHangang', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.infoWindow-right {
  display: flex;
  flex-direction: column;
}

.infoWindow-left {
  display: flex;
  flex-direction: column;
}

.infoWindow-left img {
  width: 8vw;
  margin: 1rem;
  border-radius: 5px;
}


body {
  margin: 0;
  font-family: 'SeoulHangang', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.search {
  padding: 150px 50px;
  background-image: url('../public/assets/Images/la.png');
  background-size: cover;
  background-position: center;
}

.MuiTextField-root {
  background: white;
  border-radius: 10px;
  text-underline-position: auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-background {
  padding: 150px 50px;
  background-image: url('../public/assets/Images/tokyo.png');
  background-size: cover;
  background-position: center;
  height: 100px;
  margin: 10px 0;
  border-radius: 20px;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card-homepage {
  flex-direction: row;
  flex-grow: 1;
  display: flex;
  min-width: 200px;
  width: calc(50% - 2em);
  margin: 1em;
}
